html:root:not([aiLoaded]) {
    background-color: black;
}

:root:not([aiLoaded]) > body {
    opacity: 0.4;
}

html:root[aiLoaded] {    
    transition: background-color 0.6s, filter 0.4s;    
}

:root[aiLoaded] > body {
    opacity: 1; /* Assicurati di riportarlo a 1 */
    transition: opacity 0.2s;
}

html:root, 
:root > body {
    transition-timing-function: ease;
    transition-duration: 0.3s;    
}